.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background-color: white;
}

.logo-img {
  height: 60px;
}

/* اللوجو الآن ثابت ولا يتحرك */
.navbar-logo {
  position: fixed;  /* تغيير من absolute إلى fixed */
  left: 50%;
  top: 5px; /* التحكم في مكان اللوجو */
  transform: translateX(-50%);
  z-index: 100000; /* يبقى دائمًا فوق القائمة */
  // pointer-events: none; /* حتى لا يتداخل مع النقر */
  cursor: pointer;
}

/* في الشاشات الصغيرة، اللوجو يظل ثابتًا */
@media (max-width: 991px) {
  .navbar-logo {
    top: 5px; /* تعديله قليلًا ليبقى واضحًا */
  }
}

i{
  color: #000000A6;
  cursor: pointer;
}



.user-icon-container {
  position: relative;
  display: inline-block;
}

.user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  min-width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.user-icon-container:hover .user-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}



.wishlist-container, .cart-container {
  position: relative;
  display: inline-block;
}

.wishlist-badge, .cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #fff;
  border: 1px solid #062E2A;
  color: #062E2A;
  font-size: 12px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}







.btn-gold {
  background-color: #d8ab6b;
  transition: all 0.3s ease-out;
}

.btn-gold:hover {
  background-color: #c09150;
}