<section class="parent pt-5 d-flex justify-content-center align-items-center ">
    <div class="row justify-content-center mt-5">
        

        <div class="col-md-4 bg-light p-5 shadow  mt-4 mt-md-0 d-flex justify-content-center align-items-center flex-column">
            <h2 class="mb-4">اهلا بعودتك</h2>

            <p class="mb-4">علشان تفضل متصل معانا اسجل بياناتك الشخصيه</p>

            <button class="btn btn-outline-success w-100" (click)="goToLogin()">تسجيل الدخول</button>
        </div>

        <div class="col-md-8 bg-info p-5 shadow  d-flex justify-content-center align-items-center flex-column">
            <h2 class="mb-4">عمل اكونت جديد</h2>

            <input type="text" class="form-control mb-3" placeholder="الاسم" required>
            <input type="email" class="form-control mb-3" placeholder="البريد الإلكتروني" required>
            <input type="password" class="form-control mb-4" placeholder="كلمة المرور" required>

            <a href="" class="text-decoration-none text-primary">هل نسيت كلمة المرور؟</a>

            <button class="btn btn-success w-100 mt-4">تسجيل الاشتراك</button>
        </div>
        
    </div>
</section>